#title {
  color: rgb(140, 0, 255);
  text-align: center;
}

#corUm {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: black;
  margin: 10px;
  border: 1px solid;
}

#corDois {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 10px;
  border: 1px solid;
}

#corTres {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: blue;
  margin: 10px;
  border: 1px solid;
}

#corQuatro {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: green;
  margin: 10px;
  border: 1px solid;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #4cac4f;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover { background-color: #3e8e41;}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
